/* 
font-family: 'Source Code Pro',
monospace;

font-family: 'Charm',
cursive;

font-family: 'Passion One',
cursive;

font-family: 'Poppins',
sans-serif;

font-family: 'Mukta',
sans-serif;

font-family: 'Lora',
serif;

font-family: 'EB Garamond',
serif; 

*/



body{
    margin:0;
    overflow: hidden;
}




.v{
font-family: 'Charm',cursive;
    color:#10ff00;
    font-size:5vh;
    font-style: italic;
    font-weight: bold;
    text-shadow:1px 1px #00ffff;
    text-transform: uppercase;
    letter-spacing: 0px;
    word-spacing: 0px;

}

.denny{
    font-family: 'Mukta',sans-serif;
    color:#10ff00;
    font-size:3.5vh;
    font-style: oblique;
    text-shadow:1px 1px #00ffff;
    text-transform: uppercase;
    letter-spacing: 6px;
    word-spacing: 20px;
    line-height: 2.0;

}

.webd{

    font-family: 'Poppins',sans-serif;
    color:#ffffff;
    font-size:4vh;
    text-shadow:1px 1px #40403fd4;
    text-transform: uppercase;
    letter-spacing: 8px;
    word-spacing: 0px;
}
